/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #111827;
}

html.dark body {
  background-color: #000;
  color: #e2e8f0;
}
html.dark {
  background-color: #000;
}

html.dark .MuiPaper-root,
html.dark .MuiCard-root,
html.dark .MuiDrawer-paper {
  background-color: #1e293b !important;
  color: #e2e8f0 !important;
}

html.dark .MuiCardHeader-root .MuiTypography-root,
html.dark .MuiButton-root,
html.dark .MuiListItemButton-root,
html.dark .MuiTypography-root,
html.dark .MuiListItemText-root,
html.dark .MuiInputLabel-root,
html.dark .MuiInputBase-input,
html.dark .MuiCheckbox-root:not(.Mui-checked) {
  color: #e2e8f0 !important;
}

html.dark .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
html.dark .Mui-checked {
  border-color: #e2e8f0 !important;
}

html.dark .MuiInputBase-input.Mui-disabled {
  -webkit-text-fill-color: #899ab2 !important;
  color: #899ab2 !important;
}

a {
  text-decoration: none;
}
